{% extends 'base.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/styles.css">


{% endblock %}

{% block title %}

	Page d'acceuil -
	{{parent()}}
	-
{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<section class="main-section" style="background-image: url('/assets/images/background-resto/resto.jpg');">


		<div class="center-title">
			<h1 class="container-title">LES MEILLEURES SPÉCIALITÉS DU NORD À CHAMBERY</h1>

			<p class="container-slogan">Bienvenue au Quai Anthique, restaurant snacking situé à Chambéry dans lequel vous re-découvrirez les meilleures spécialités du Nord Nous serons ravis de vous accueillir pour partager notre passion pour la cuisine du Nord dans une ambiance chaleureuse et toujours généreuse.</p>
		</div>
		<main id="main" class="main">
			{% for menu in menus %}
				<div class="card">
					<span class="badge">{{menu.price}}
						€</span>
					<img src="{{ asset('assets/images/menu/' ~ menu.image) }}" alt="{{ menu.name }}">
					<div class="text">
						<h2>{{ menu.name }}</h2>
						<p>{{ menu.description }}</p>
						<div class="button-container">
							<button class="btn btn-sm btn-purple">
								<a href="#">Détail du menu</a>
							</button>
						</div>
					</div>
				</div>
			{% endfor %}

		</main>

	</section>

	{% include '_partials/_footer.html.twig' %}
{% endblock %}
