{% extends 'base.html.twig' %}

{% block title %}

	Le menu
	{{ menu.name }}
	{{ parent() }}
	{# {{ dishes.menu.name }} #}


{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<h1>{{ menu.name }}</h1>
	<p>{{ menu.description }}</p>
	<p>Prix :
		{{ menu.price }}€</p>
	<img class="body-dishe"
	src="{{ asset('assets/images/menu/' ~ menu.image) }}" alt="{{ menu.name }}" style="opacity: 0.4;">

	{# <h2>Plats</h2> #}
	<ul>
		{% for dishe in menu.getDishe() %}
			<li>{{ dishe.category }}</li>
			<li>{{ dishe.name }}
				-
				{{ dishe.price /100 }}0 €</li>

		{% endfor %}
	</ul>

	{% include '_partials/_footer.html.twig' %}
{% endblock %}
