{% extends 'base.html.twig' %}

{% block title %}Reservez une table ?
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<section class="container">
		<h1>Formulaire de réservation</h1>
		{% for flashMessage in app.flashes('success') %}
			<div class="alert alert-success">
				{{ flashMessage }}
			</div>
		{% endfor %}

		{% for flashMessage in app.flashes('danger') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %}
	</div>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	{{ form_end(form) }}
</section>

{% include '_partials/_footer.html.twig' %}</div>{% endblock %}
