{% extends 'base.html.twig' %}

{% block title %}Détails de la catégorie :
	{{ category.name }}
{% endblock %}

{% block body %}
	{% include '_partials/_navbar.html.twig' %}
	<h1 class="card-section-title">Nos plats au détail</h1>
	<div class="card-section-detals">
		<div class="card-detals">
			<h2>{{ category.name }}</h2>
			<ul>
				{% for dish in category.dishes %}
					<li>
						<h3>{{ dish.name }}|
							<span>{{dish.price}}
								€</span>
						</h3>
						<p>{{dish.description}}</p>

					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% include '_partials/_footer.html.twig' %}
{% endblock %}
